{{ set(this, 'title', 'BankerBook test App') }}
<div class="site-index">
    <div class="jumbotron text-center bg-transparent">
        <h1 class="display-4">BankerBook Test App!</h1>
    </div>
    <div class="body-content">
        <div class="pl-table">
            <div class="pl-table__wrapper">
                <div class="pl-thead tall">
                    <div class="row">
                        <div class="col">Head 1</div>
                        <div class="col">Head 2</div>
                        <div class="col">
                            <div>Top</div>
                            <div class="large">52</div>
                            <div>Bottom</div>
                        </div>
                        <div class="col">
                            <div>Top</div>
                            <div class="large">33</div>
                            <div>Bottom</div>
                        </div>
                        <div class="col">
                            <div>Top</div>
                            <div class="large">10</div>
                        </div>
                    </div>
                </div>
                <div class="pl-tbody">
                    <div class="row">
                        <div class="col">Cell 1</div>
                        <div class="col">Cell 2</div>
                        <div class="col">Cell 3</div>
                        <div class="col">Cell 4</div>
                        <div class="col">Cell 5</div>
                    </div>
                    <div class="row">
                        <div class="col">Cell 1</div>
                        <div class="col">Cell 2</div>
                        <div class="col">Cell 3</div>
                        <div class="col">Cell 4</div>
                        <div class="col">Cell 5</div>
                    </div>
                    <div class="row">
                        <div class="col">Cell 1</div>
                        <div class="col">Cell 2</div>
                        <div class="col">Cell 3</div>
                        <div class="col">Cell 4</div>
                        <div class="col">Cell 5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
